html body {
    margin: 0;
    padding: 0;
}
.a{
    display: inline;
    color: blue;
    color: -webkit-link;
    text-decoration-line: underline;
    cursor: pointer;
}
.b{
    display: inline;
    font-weight: bold;
}
.button{
    user-select: none;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
}
.button:hover{
    background-color: #f1f1f1;
}

.input-text {
    width: 260px;
    height: 16px;
    border: 1px solid dodgerblue;
    border-radius: 3px;
    size: 16px;
    line-height: 16px;
    outline: none;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    word-break: normal;
    text-align: start;
    cursor: text;
    padding: 4px 4px;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    font: 400 13.3333px Arial;
}
.input-text::-webkit-scrollbar{
    display: none;
}
.input-text:empty:before{
    content: attr(placeholder);
    color: #999;
}
.input-text:focus:before{
    content: none;
}
